<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
     <script type = "text/javascript" src = "{{ url_for('static', filename = 'main_page.js') }}" ></script>

</head>
<body>
<p>This is in the main page hehe</p>

<table border = 1>
         {% for key, value in result.items() %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
         {% endfor %}
      </table>

          <input type = "button" onclick = "sayHello()" value = "Say Hello" />

</body>
</html>